<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuan & Rui's blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--nav bar-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui inverted secondary stackable menu">
        <div class="ui container">
            <h2 class="ui teal header item">About Me</h2>
            <a href="#" class="item m-mobile-hide toggle_item"><i class="mini home icon"></i>Home</a>
            <a href="#" class="item m-mobile-hide toggle_item"><i class="mini idea icon"></i>Category</a>
            <a href="#" class="item m-mobile-hide toggle_item"><i class="mini tags icon"></i>Tags</a>
            <a href="#" class="item m-mobile-hide toggle_item"><i class="mini clone icon"></i>Timeline</a>
            <a href="#" class="item active m-mobile-hide toggle_item"><i class="mini info icon"></i>About</a>
            <div class="right item m-mobile-hide toggle_item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search...">
                    <i class="search icon link"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu_toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--content-->
<div class="m-padded-tb-large m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/800/600?image=1005" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="header">About Me</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">ABCD Song by Kids TV - The nursery rhymes channel for kindergarten aged children.
                        These kids songs are great for learning </p>
                    <p class="m-text">the alphabet, numbers, shapes, colors and lots more. We are a one stop shop for
                        your children</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange left pointing basic label">IT</div>
                    <div class="ui orange left pointing basic label">IT</div>
                    <div class="ui orange left pointing basic label">IT</div>
                    <div class="ui orange left pointing basic label">IT</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">Java</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">Js</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">C</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">C#</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">Node</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">React</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">Mysql</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">PHP</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1234567" data-position="bottom center"><i
                            class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!--footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui stackable grid divided inverted">
            <div class="two wide column">
                <div class="inverted ui link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="QR code"
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Latest Blogs</h4>
                <div class="inverted ui link list">
                    <a href="#" class="item">???</a>
                    <a href="#" class="item">???</a>
                    <a href="#" class="item">???</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Contact</h4>
                <div class="inverted ui link list">
                    <a href="#" class="item">Email Address: jackyisme123@gmail.com</a>
                    <a href="#" class="item">QQ: 13715772</a>
                    <a href="#" class="item">Wechat: nicuige</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Why Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">This is a personal blog for Rui and Yuan. We will
                    share our lives in NZ including it, wine, cooking, travelling and maybe some immigration
                    information. Hope our information could help you a little bit ...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 Yuan & Rui's Blog Designed by Yuan</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
<script>
    $(".menu_toggle").click(function () {
        $(".toggle_item").toggleClass("m-mobile-hide");
    });
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();
</script>
</body>
</html>