<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Yuan & Rui's blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--nav bar-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui inverted secondary stackable menu">
        <div class="ui container">
            <h2 class="ui teal header item">Blog Management</h2>
            <a href="#" th:href="@{/admin/blogs}" class="item m-mobile-hide toggle_item" th:classappend="${n==1} ? 'active'"><i class="mini home icon"></i><span th:text="#{nav.blogs}">Blogs</span></a>
            <a href="#" th:href="@{/admin/types}" class="item m-mobile-hide toggle_item" th:classappend="${n==2} ? 'active'"><i class="mini idea icon"></i><span th:text="#{nav.category}">Category</span></a>
            <a href="#" th:href="@{/admin/tags}" class="item m-mobile-hide toggle_item" th:classappend="${n==3} ? 'active'"><i class="mini tags icon"></i><span th:text="#{nav.tags}">Tags</span></a>
            <div class="right toggle_item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/100/100?image=1005">
                        <span th:text="${session.user.nickname}">Jacky</span>
                        <i class="dropdown icon"></i>
                    </div>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu_toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<footer th:fragment="footer" class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui stackable grid divided inverted">
            <div class="two wide column">
                <div class="inverted ui link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="QR code"
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Latest Blogs</h4>
                <div id="newblog-container">
                    <div class="inverted ui link list" th:fragment="newblogList">
                        <a href="#" class="item" th:each="blog : ${newblogs}" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" th:if="${blog.published}">???</a>
                        <!--/*-->
                        <a href="#" class="item">???</a>
                        <a href="#" class="item">???</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Contact</h4>
                <div class="inverted ui link list">
                    <a href="#" class="item">Email: <span th:text="#{index.email}">jackyisme123@gmail.com</span></a>
                    <a href="#" class="item"> QQ: <span th:text="#{index.qq}">13715772</span></a>
                    <a href="#" class="item">Wechat: <span th:text="#{index.wechat}">nicuige</span></a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted head m-text-thin m-text-spaced">Why Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">This is a personal blog for Rui and Yuan. We will
                    share our lives in NZ including it, wine, cooking, travelling and maybe some immigration
                    information. Hope our information could help you a little bit ...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 Yuan & Rui's Blog Designed by Yuan</p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script>
        $("#newblog-container").load(/*[[@{/admin/footer/newblog}]]*/"/admin/footer/newblog");
    </script>
</th:block>
</body>
</html>