<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yuan & Rui's blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item"></h2>
        <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i></a>
        <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i></a>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i></a>
        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown  item">
            <div class="text">
              <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">

            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/tags/input}" class="item">Add</a>
        <a href="#" th:href="@{/admin/tags}" class="teal active item">List</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-large">
    <div class="ui container">
      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">Success：</div>
        <p th:text="${message}">Success Operation</p>
      </div>
      <table class="ui compact teal table">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th>operation</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="type,iterStat : ${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${type.name}">abcdsf</td>
            <td>
              <a href="#" th:href="@{/admin/tags/{id}/input(id=${type.id})}" class="ui mini teal basic button">Edit</a>
              <a href="#" th:href="@{/admin/tags/{id}/delete(id=${type.id})}" class="ui mini red basic button">Delete</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6" >
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                <a th:href="@{/admin/tags(page=${page.number}-1)}" class="  item" th:unless="${page.first}">Previous</a>
                <a th:href="@{/admin/tags(page=${page.number}+1)}" class=" item" th:unless="${page.last}">Next</a>
              </div>
              <a href="#" th:href="@{/admin/tags/input}"  class="ui mini right floated teal basic button">Add</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
  <!--footer-->
  <footer th:replace="admin/_fragments :: footer" class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui stackable grid divided inverted">
        <div class="two wide column">
          <div class="inverted ui link list">
            <div class="item">
              <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="QR code"
                   style="width: 110px">
            </div>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted head m-text-thin m-text-spaced">Latest Blogs</h4>
          <div class="inverted ui link list">
            <a href="#" class="item">???</a>
            <a href="#" class="item">???</a>
            <a href="#" class="item">???</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted head m-text-thin m-text-spaced">Contact</h4>
          <div class="inverted ui link list">
            <a href="#" class="item">Email Address: jackyisme123@gmail.com</a>
            <a href="#" class="item">QQ: 13715772</a>
            <a href="#" class="item">Wechat: nicuige</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted head m-text-thin m-text-spaced">Why Blog</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">This is a personal blog for Rui and Yuan. We will
            share our lives in NZ including it, wine, cooking, travelling and maybe some immigration
            information. Hope our information could help you a little bit ...</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 Yuan & Rui's Blog Designed by Yuan</p>
    </div>
  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  </script>
</body>
</html>